/* ==========================================================================
   Variables
   ========================================================================== */

/* Brand colors */
$brand-red: #c83f29; /* updated from #e83f29 to meet WCAG AA where used with white text */
