/* ==========================================================================
   Dropdowns
   ========================================================================== */

.dropdown-item {
  transition: all .2s ease-in-out;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #bd2130;
}

.dropdown-submenu {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    font-size: 1.125rem !important;
  }
}
